<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
</head>

<body>
      <!--nav bar bootstrap code -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Student Management System</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/students}">Home page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/students/new}">Add student</a>
    </li>
  </ul>
</nav>
<br>



	<div class="container">
		<div class="row">
			<h1>LIST OF STUDENT</h1>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/students/new}" class=" btn btn-primary btn-sm mb-3">ADD STUDENt></a>
			</div>
		</div>

		<table class="table table-striped table-borderd">
			<thead class="table-dark">
				<tr>
					<th>Student First Name</th>
					<th>Student Last Name</th>
					<th>Student Email</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="student: ${students}">
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.email}"></td>
					<td>
						<a th:href="@{/students/edit/{id}(id=${student.id})}"
						 class="btn btn-primary">update</a>
						 
						 <a th:href="@{/students/{id}(id=${student.id})}"
						 class="btn btn-danger">Delete</a>
					</td>
				</tr>



		</table>
	</div>
</body>

</html>